@import "variables";

@font-face {
    font-family: "Open Sans";
    src: url('#{$font-path}/opensans-regular-webfont.eot');
    src: url('#{$font-path}/opensans-regular-webfont.eot?#iefix') format("embedded-opentype"), 
        url('#{$font-path}/opensans-regular-webfont.woff') format("woff"), 
        url('#{$font-path}/opensans-regular-webfont.ttf') format("truetype"), 
        url('#{$font-path}/opensans-regular-webfont.svg#OpenSansRegular') format("svg");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('#{$font-path}/opensans-semibold-webfont.eot');
    src: url('#{$font-path}/opensans-semibold-webfont.eot?#iefix') format("embedded-opentype"), 
        url('#{$font-path}/opensans-semibold-webfont.woff') format("woff"), 
        url('#{$font-path}/opensans-semibold-webfont.ttf') format("truetype"), 
        url('#{$font-path}/opensans-semibold-webfont.svg#OpenSansSemibold') format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Score Board';
    src: url('#{$font-path}/scoreboard-webfont.eot');
    src: url('#{$font-path}/scoreboard-webfont.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/scoreboard-webfont.woff') format('woff'),
        url('#{$font-path}/scoreboard-webfont.ttf') format('truetype'),
        url('#{$font-path}/scoreboard-webfont.svg#score_boardregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-128 { font-size: 128px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
form {
    padding:20px;
    .mdl-textfield {
        width:100%;
    }
    &.form-inline .mdl-textfield {
        width:auto
    }
}
.mdl-badge.ok:after {
    background-color: unquote("rgb(#{$palette-green-300})");
}
#grafico{
    width:100%;
    padding:8px;
}
.mdl-container {
    max-width: 840px;
    margin:0 auto;
    section {
        margin:30px 0;
    }
}
.mdl-grid .mdl-card {
    margin:0 auto;
    .mdl-card__media {
        height:194px;
    }
}
.mdl-card {
    .card-button-open {
        position: absolute;
        bottom: -24px;
        right: 24px;
    }
    .mdl-card__media {
        position: relative;
    }
    .mdl-card__title {
        display: block;
    }
}
.mdl-snackbar {
    transform: translate3d(0,62px,0);
    transition: all 0.3s;
    @media (min-width: $grid-tablet-breakpoint) {
        left: 14px;
        bottom: 14px;
    }
}
.is-small-screen .mdl-container section {
    margin:0px;
}
.mdl-button--icon .material-icons,.mdl-button--fab .material-icons {
    transform: translate(-12px, -12px);
}
.mdl-collapse.mdl-collapse--opened {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: -1px;
}

.mdl-collapse.mdl-collapse--opened + .mdl-collapse.mdl-collapse--opened {
    border-top: none;
    margin-top: 0;
}

.mdl-collapse .mdl-collapse__content-wrapper {
    overflow: hidden;
}

.mdl-collapse .mdl-collapse__content {
    transition-property: margin-top;
    transition-duration: 0.2s;
}

.mdl-collapse .mdl-collapse__icon {
    transition-property: transform;
    transition-duration: 0.2s;
    color: rgba(0,0,0,0.3);

    /* MDL should provide some facility for positioning icons inside list items so I don't have to do this */
    position: absolute;
    right: 6px;
    margin-top: -3px;
}

.mdl-collapse.mdl-collapse--opened .mdl-collapse__icon {
    transform: rotate(-180deg);
}

.mdl-collapse.mdl-collapse--opened .mdl-collapse__button {
    color: $layout-drawer-navigation-link-active-color;
}

.mdl-collapse.mdl-collapse--opened .mdl-collapse__content {
    margin-top: 0 !important;
}


.mdl-button--fab_flinger-container {
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index:2;
}
.is-small-screen .mdl-button--fab_flinger-container {
    right: 20px;
}
.mdl-button--fab_flinger-container {
    overflow:visible;
    
    .mdl-button--fab_flinger-options {
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
        text-align:center;
        visibility: hidden;
  
  transition: visibility 300ms;
        transition-delay: 300ms;
        
        .mdl-button {
            transition: all .3s cubic-bezier(.4,0,.2,1);
            -webkit-transition-property: background-color,box-shadow,opacity,-webkit-transform;
            transition-property: background-color,box-shadow,opacity,transform;
            transform: scale(.5,.5);
            opacity:0;
            margin-top:8px;
            overflow:visible;
            &:nth-last-child(1) {
                transition-delay: 300ms;
            }
            &:nth-last-child(2) {
                transition-delay: 250ms;
            }
            &:nth-last-child(3) {
                transition-delay: 200ms;
            }
            &:nth-last-child(4) {
                transition-delay: 150ms;
            }
            &:nth-last-child(5) {
                transition-delay: 100ms;
            }
            &:nth-last-child(6) {
                transition-delay: 50ms;
            }
        }
        .mdl-button__text {
            background-color: rgba(0,0,0,.54);
            color: #fff;
            font-size: 12px;
            //height: 0;
            line-height: 20px;
            margin-top: -10px;
            text-transform: none;
            margin-right: 16px;
            //opacity: 0;
            padding-right: 8px;
            padding-left: 8px;
            position: absolute;
            top: 50%;
            right: 100%;
            border-radius: 2px;
            -webkit-transition: opacity .3s cubic-bezier(.4,0,.2,1);
            transition: opacity .3s cubic-bezier(.4,0,.2,1);
            white-space: nowrap;
            //width: 0;
        }
    }
    &> .mdl-button i {
        
        transition: all .3s cubic-bezier(.4,0,.2,1);
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,transform;
            transform: translate(-12px, -12px) rotate(0);
        }


    &.is-showing-options {
        .mdl-button--fab_flinger-options {
            //display: block;
            //flex-direction: column-reverse;
            visibility:visible;
            transition: visibility 0ms;
        transition-delay: 0ms;
            .mdl-button {
                //transform-origin: bottom center;
                //background-color: #eee;
                opacity: 1;
                transform: scale(1, 1);
                transition-delay: 300ms;
                &:nth-last-child(1) {
                    transition-delay: 0ms;
                }
                &:nth-last-child(2) {
                    transition-delay: 50ms;
                }
                &:nth-last-child(3) {
                    transition-delay: 100ms;
                }
                &:nth-last-child(4) {
                    transition-delay: 150ms;
                }
                &:nth-last-child(5) {
                    transition-delay: 200ms;
                }
                &:nth-last-child(6) {
                    transition-delay: 250ms;
                }
            }
            .mdl-button__text {
                display:block;
            }
        }
        &> .mdl-button i {
            transform: translate(-12px, -12px) rotate(-225deg);
        }

        
    }
    @keyframes enter {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(0.8);
        }
    }
}
.enllax-container {
  height: 192px;
  overflow:hidden;
  background-size: 150%;
  background-image: url('#{$imgs-path}bg-md.jpg');
  @media (min-width: $grid-desktop-breakpoint) {
      height: 320px;
      background-size: cover;
  }
}
.title {
    padding: 44px 0 0px;
    text-align: center;
    position: relative;
    .photo-crop {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        overflow: hidden;
        margin-top: -104px;
        border-radius: 100%;
        border: 3px solid #fff;
        background-color: #333;
        img {
            margin-top:-8px;
            margin-left: -5px;
        }
        .material-icons {
            margin:-4px;
        }
    }
    img {
        margin-top:-110px;
    }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
table {
    width:100%;
}
html {
    height: 100%;
}
body {
    //overflow-x: hidden;
    font-family: Roboto,Helvetica,Arial, sans-serif;
    //text-align: left;
    //padding-top: 50px;
    //font-size: 13px;
    height: 100%;
    background-color: #FAFAFA;
    /*@media (min-width: $screen-sm-min) {
            background: #e6eaed url("#{$imgs-path}bg.jpg") repeat-x center top;
    }*/
}
a {
    //@include transition(all 0.15s linear 0s);
    cursor: pointer;
}
#notifications {
    overflow: visible;
    i {
        margin:0;
    } 
}
.center {
    text-align:center;
}
input.small {
    width:45px;
    text-align: center;
}
img {
    //@include box-sizing(content-box)
}
.foto {
    //@include rotate(-2deg);
}
.foto.nophoto {
    //@include user-select(none);
    //@include box-shadow(0 0 0 3px #333333);
    background-color: #222222;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    font-size: 700%;
    height: 180px;
    line-height: 160px;
    margin: 9px;
    text-align: center;
    width: 140px;
}
.foto.pull-left,.logo.pull-left {
    margin-right:20px;
}
.no-wrap,.nowrap {
    white-space:nowrap;
}
.ammonizione,.espulsione {
    width:10px;
    height:15px;
    display: inline-block;
    //@include box-shadow(1px 1px 2px #AAAAAA);
}
.ammonizione {
    background-color: yellow;
}
.espulsione {
    background-color: red;
}
.well {
    overflow: hidden;
    /*@media (min-width: $screen-sm-min) {
            overflow: visible;
    }*/
}
#plot-container {
    margin: 0 auto;
    width:724px;
    clear:both;
    overflow:hidden;
    #placeholder-overview {
        float:left;
        cursor:pointer;
        margin-right:12px;
    }
    #placeholder {
        width:100%;
    }
    #clear-selection {
        display:none;
    }
}
table {
    .tablesorter-headerAsc, .tablesorter-headerDesc {
        background-color:rgba(141,192,219,0.25);
        text-shadow:0 1px 1px rgba(255,255,255,0.75);
    }
    .tablesorter-headerDesc:after, .tablesorter-headerDesc:hover:after {
        visibility:visible;
        //@include opacity(60);
    }
    .tablesorter-header {
        cursor:pointer;
    }
    .tablesorter-header:after {
        content:"";
        float:right;
        margin-top:7px;
        border-width:0 4px 4px;
        border-style:solid;
        border-color:#888 transparent;
        visibility:hidden;
    }
    .tablesorter-header:hover:after {
        visibility:visible;
    }
    .tablesorter-headerAsc:after {
        border-bottom:none;
        border-left:4px solid transparent;
        border-right:4px solid transparent;
        border-top:4px solid #888;
        visibility:visible;
        //@include box-shadow(none);
        //@include opacity(60);
    }
    .tablesorter-header-inner {
        float:left;
    }
}
