body {
	/*font-family: "Droid Sans",Arial,sans-serif;*/
	text-align: left;
	display: block;
	-webkit-text-size-adjust: none;
	font-size:13px;
}
fieldset {
	border:0 none;
	padding:10px;
}
h1,h2,h3,h4,h5,h6 {
	margin-top:0;
}
h1 a,h2 a,h3 a,h4 a {
	font-weight:normal !important;
}
h1 a {
	font-size:22px;
}
h2 a {
	font-size:20px;
}
h3 a{
	font-size:18px;
}
h4 a{
	font-size:16px;
}
p {
	font-size: 12px;
}
em {
	background-color: transparent;
}
a, a:link, a:visited, a:hover {
	color:inherit;
	text-decoration: none;
	cursor: pointer;
}
.formbox {
	clear:both;
	float:left;
}
.formbox label {
	width:150px;
}
label {
	font-weight:bold;
	cursor:pointer;
}
.hidden{
	display:none;
}
input.small {
	width:20px;
}
.column {
	float:left;
}
.formbox {
	padding:6px 0;
}
label {
	display:inline;
}
form {
	margin:0;
}
.right {
	float:right;
}
.foto {
	-webkit-transform: rotate(-2deg) ;
    -moz-transform: rotate(-2deg) ;
    -o-transform: rotate(-2deg) ;
	-moz-box-shadow:0 0 8px #aaa;
	-webkit-box-shadow:0 0 8px #aaa;
	box-shadow:0 0 8px #aaa;
	float:left;
	margin-right:10px
}
table .header{cursor:pointer;}table .header:after{content:"";float:right;margin-top:7px;border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;}
table .headerSortUp,table .headerSortDown{background-color:rgba(141, 192, 219, 0.25);text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);}
table .header:hover:after{visibility:visible;}
table .headerSortDown:after,table .headerSortDown:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .headerSortUp:after{border-bottom:none;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}