html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:12px;font-family:"Droid Sans","Trebuchet MS",sans-serif;vertical-align:baseline;margin:0;padding:0}body{line-height:1.5;font-size:75%;color:#fff;font-family:"Droid Sans","Trebuchet MS",sans-serif;margin:0}table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;width:100%}tbody{width:100%;color:#fff}caption,th,td{text-align:left;font-weight:400}a img{border:none}h1,h2,h3,h4,h5,h6{color:#f90;font-family:"Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400}h1{font-size:3em;line-height:1;margin-bottom:.5em}h2{font-size:2em;margin-bottom:.75em}h3{font-size:1.5em;line-height:1;margin-bottom:1em}h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em}h5{font-size:1em;font-weight:700;margin-bottom:1.5em}h6{font-size:1em;font-weight:700}p.last{margin-bottom:0}p img{float:left;margin:1.5em 1.5em 1.5em 0;padding:0}p img.top{margin-top:0}ul,ol{margin:0 1.5em 1.5em}ul{list-style-type:circle}ol{list-style-type:decimal}dd{margin-left:1.5em}abbr,acronym{border-bottom:1px dotted #666}address{margin-top:1.5em;font-style:italic}a:focus,a:hover{color:#000}a{color:#f90;text-decoration:underline}em,dfn{font-style:italic;background:#ffc}pre,code{white-space:pre;margin:1.5em 0;color:#fff}pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5em}tt{display:block;line-height:1.5;margin:1.5em 0}th{border-bottom:2px solid #ccc;font-weight:700}td{border-bottom:1px solid #ddd}th,td{padding:4px 10px 4px 0}tfoot{font-style:italic}caption{background:#ffc}table .last{padding-right:0}.small{font-size:.8em;margin-bottom:1.875em;line-height:1.875em}.large{font-size:1.2em;line-height:2.5em;margin-bottom:1.25em}.hide{display:none}.highlight{background:#ff0}.added{color:#060}.removed{color:#900}.top{margin-top:0;padding-top:0}.bottom{margin-bottom:0;padding-bottom:0}.container{width:950px;margin:0 auto}.column{float:left;margin-right:10px}.right{float:right;margin-left:10px}.last{margin-right:0;margin-left:0}hr{background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;border:none;margin:0 0 5px}hr.space{background:#fff;color:#fff}.clear{display:block}.clear:after,.container:after{content:".";display:block;height:0;clear:both;visibility:hidden}* html .clear{height:1%}fieldset{margin:0 0 1.5em;padding:0.7em}legend{font-weight:700;font-size:1.2em;color:#3b678e;padding:0 5px}input.text,input.title{padding:2px}input.title{font-size:1.5em}textarea{margin:.5em .5em .5em 0;padding:1px;width:730px}select{width:200px;margin:5px 10px}p,dl{margin:0 0 1.5em}dl dt,strong,dfn,label{font-weight:700}del,.quiet{color:#666}
body {
	font-family: "Droid Sans",Arial,sans-serif;
	background: #373737 url(../imgs/bg.jpg) no-repeat scroll center top;
	text-align: center;
	display: block;
	-webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #00a2ff;
}
h1 a,h2 a,h3 a,h4 a {
	font-weight:normal !important;
	font-family:"Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1 a {
	font-size:22px;
}
h2 a {
	font-size:20px;
}
h3 a{
	font-size:18px;
}
h4 a{
	font-size:16px;
}
p {
	font-size: 12px;
}
em {
	background-color: transparent;
}
a, a:link, a:visited, a:hover {
	color: #00a2ff;
	text-decoration: none;
	cursor: pointer;
	font-weight:bold;
}
input.submit {
	background: transparent url(../imgs/button.png) no-repeat scroll center top;
	border: 0pt none;
	color: #FFFFFF;
	cursor: pointer;
	height: 24px;
	margin: 0 auto;
	width: 128px;
	padding: 0;
}
input.submit:hover {
	background: transparent url(../imgs/button.png) no-repeat scroll center bottom;
}
option,optgroup {
	background:#fff;
}
input,input:focus {
	background:#fff;
}
/*input.text {
	background: transparent;
	border: 0 none;
	border-bottom:1px solid #fff;
	color:#fff;
	font-size:12px;
	margin:3px 0;
	width:88px;
}*/
label {
	color: #ffffff;
	float: left;
	width: 90px;
	margin: 2px 0 0 0;
	font-weight: normal;
}
.last {
	margin-right: 0;
	margin-left: 0;
}
.no-margin {
	margin: 0px;
}
.no-padding {
	padding: 0px;
}
.bold {
	font-weight: 700;
}
.center {
	text-align: center;
}
.first {
	margin-top: 0 !important;
}
a.neutral {
	color:#fff !important;
	font-weight:normal !important;
}
#messaggioContainer {
	top: 10px;
	right: 10px;
	position:absolute;
	z-index:2;
	width: 265px;
}
.messaggio {
	margin:0 0 10px;
	text-align:center;
	width:265px;
}
.messaggio .top,.messaggio .bottom {
	height:10px;
	width:100%;
	display:block;
}
.messaggio .middle {
	width:241px;
	padding:0 10px;
	text-align:center;
}
.success .bottom {
	background:url(../imgs/message.png) no-repeat left -10px;
}
.success .top {
	background:url(../imgs/message.png) no-repeat left 0;
}
.success .middle{
	color:#00bb00;
	border-left: 2px solid #00ff00;
	border-right: 2px solid #00ff00;
	background:#bad6bb;
}
.warning .bottom {
	background:url(../imgs/message.png) no-repeat left -30px;
}
.warning .top {
	background:url(../imgs/message.png) no-repeat left -20px;
}
.warning .middle{
	color:#cc6600;
	border-left: 2px solid #ff9900;
	border-right: 2px solid #ff9900;
	background:#d6c9ba;
}
.error .bottom {
	background:url(../imgs/message.png) no-repeat left -50px;
}
.error .top {
	background:url(../imgs/message.png) no-repeat left -40px;
}
.error .middle{
	color:#bb0000;
	border-left: 2px solid #ff0000;
	border-right: 2px solid #ff0000;
	background:#d6babc;
}
.messaggio span {
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}
.messaggio img {
	float: left;
	margin-right: 10px;
}
.rosso {
	background: transparent url(../imgs/bg-row.png) repeat-x scroll left top;
	text-align: center;
}
.verde {
	background: transparent url(../imgs/bg-row.png) repeat-x scroll left -31px;
	text-align: center;
}
.emoticon {
	margin: -3px 0 -7px;
	float: none;
}
.info {
	display: block;
	font-size: 14px;
	font-weight: bold;
	width: 250px;
}
.info span {
	background-image: url(../imgs/info.png);
	background-position: left center;
	background-repeat: no-repeat;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 28px;
	margin: 0 0 10px;
	padding: 6px 0 0 40px;
}
.formbox {
	clear: both;
	float: left;
	margin: 2px 0;
}
.riga {
	margin: 0 0 10px;
	clear: both;
	width: 100%;
	border-top:2px solid #00a2ff;
}
.riga:first-child {
	border-top: 0 none !important;
}
.field {
	margin: 8px 0;
}
.fieldset {
	width: 260px;
}
.fieldset select {
	margin-right: 5px;
}
.nowrap {
	white-space:nowrap;
}
.hidden {
	display: none;
}
.tdcenter {
	text-align:center;
}
#debug {
	background: transparent url(../imgs/bg-content.png);
	text-align:left;
	padding:10px;
	display:none;
	font-size:10px;
}
#debugShow {
	position:fixed;
	right:20px;
	background: transparent url(../imgs/bg-content.png);
	padding:10px;
}
#click-menu {
	width:100%;
	height:100%;
}
#topRightBar {
	position:fixed;
	right:0;
	top:0;
	width:85px;
	height:85px;
	z-index:4;
	text-indent:9999px;
	position:fixed;
	background:transparent url(../imgs/menu-inactive.png);
	text-align:center;
}
#topRightBar.active {
	background:transparent url(../imgs/menu.png);
}
#topRightBar>div {
	position:relative;
	width:100%;
	height:100%;
	cursor:pointer;
}
.back {
	left:0;
	top:0;
}
.next {
	bottom:0;
	right:0;
}
.back,.next {
	background:transparent url(../imgs/quick.png) no-repeat top right;
	position:absolute;
	height:25px;
	width:25px;
	display:block;
	text-indent:0px;
	z-index:5;
	outline-color: #ff2285;
}
#rightBar a {
	color:#fff;
	padding:4px;
	display:block;
}
#rightBar #click-menu {
	margin:3px 0;
}
#rightBar span {
	display:block;
}
#menu {
	border-color:#00a2ff;
	border-style:solid;
	border-width: 0px 0px 5px 5px; 
	background: url("../imgs/bg-content.png") repeat scroll 0 0 transparent;
	position:fixed;
	right:-300px;
	top:0px;
	width:285px;
	display:block;
	padding:35px 0 15px 5px;
	z-index:3;
	text-shadow:0 0 20px #fff;
	-moz-border-radius:0 0 0 35px;
	border-radius: 0 0 0 35px;
}
#menu h3 {
	margin-bottom:5px;
	color:#fff;
}
#big-container {
	width: 980px;
	margin: 0 auto;
	text-align: center;
	padding:0 6px;
	position:relative;
}
#header {
	margin:5px 0 8px;
	height:72px;
	position:relative;
}
#header h1 {
	padding: 18px 0pt 0pt 10px;
	font-size: 2px;
}
#header a {
	position: absolute;
	left: 0pt;
	top: 0pt;
}
/*----------------------------login-------------------------------------------*/
#login-left,#login-right,#login-center {
	height: 28px;
	padding: 2px 0;
}
#login {
	width:605px;
}
#login-left {
	width: 5px;
	overflow:hidden;
	background: transparent url(../imgs/roundedborders.png) no-repeat -2px -46px;
}
#login-right {
	width: 5px;
	overflow:hidden;
	background: transparent url(../imgs/roundedborders.png) no-repeat -2px -78px;
}
#login-center {
	background: transparent url(../imgs/bg-content.png) repeat;
}
#login fieldset {
	padding: 0;
	margin:0;
}
#login .submit {
	background: transparent url(../imgs/login-button.png);
	width:22px;
	height:20px;
	margin:5px 0 5px 5px;
}
#login select {
	width:180px;
}
#login .lega {
	margin:6px 3px 0 0;
}
#login .field {
	margin:2px 0;
}
#login label {
	width:auto;
	margin: 3px 3px 0 8px;
	font-weight:bold;
}
#login .text {
	width:70px;
}
a.logout, a.logout:hover, a.logout:visited {
	background: transparent url(../imgs/logout.png) no-repeat center left;
	color: #fff;
	font-weight: normal;
	padding: 0 10px 0 25px;
	margin: 4px 0 0;
}
#footer {
	background: transparent url(../imgs/bg-content-rounded.png) no-repeat left bottom;
	text-align: center;
	width: 960px;
	padding: 4px 10px 8px;
	margin:0 0 10px;
	clear: both;
	float: left;
	height:15px;
}
#footer a {
	padding: 0 5px;
	color: #fff;
	font-weight: normal;
}
#footer a,#footer p {
	font-size:10px;
	margin:0;
}
#footer img {
	margin: 0 5px 0 0;
}
/*---------------------navbar------------------------*/
#navbar {
	padding: 0;
	background: transparent url(../imgs/bg-content-rounded.png) no-repeat left top;
	padding:0 0 0 15px;
	clear: both;
	height: 23px;
	width:965px;
}
#navbar ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	float: left;
}
#navbar li {
	float: left;
	margin:0 10px;
}
#navbar a {
	color:#fff;
	font-size:12px;
	display:block;
	padding:2px 8px 3px;
	font-weight:normal;
}
.selected a {
	background: #00a2ff;
	font-weight:bold !important;
	float:left;
}
.selected .son {
	padding-left:0 !important;
	padding-right:0 !important;
}
.selected div {
	background: transparent url(../imgs/roundedborders.png) no-repeat right 0;
	padding:0 7px 0 0;
	float:left;
	display:block;
}
#navbar .selected {
	background: transparent url(../imgs/roundedborders.png) no-repeat left -23px;
	padding:0 0 0 7px;
}
/*---------------------------------content------------------------------*/
#content {
	background: transparent url(../imgs/bg-content.png) repeat;
	width: 100%;
	text-align: justify;
	color: #fff;
	clear: both;
	min-width: 960px;
	position:relative;
}
.main-content {
	width: 950px;
	padding:15px;
	float:left;
}
/*----------box-content---------------------------*/
#operazioni,#operazioni-other {
	text-align: left;
	padding: 0;
	margin:0 0 15px;
	width: 100%;
}
#operazioni .operazione {
	padding:4px 0 5px 35px;
	margin:2px 0;
	color: #fff;
	font-size:14px;
}
#operazioni a.operazioni-title {
	background: transparent url(../imgs/point.png) no-repeat scroll left center;
	padding: 8px 0 8px 45px;
	margin: 0 0 5px 0;
	color: #fff;
	font-size: 1.5em;
	outline: none;
}
#operazioni .operazioni-content, #operazioni-other .operazioni-content {
	clear: both;
	list-style-type: none;
	float: left;
	margin-bottom: 0;
}
.operazioni-content li {
	clear: both;
}
#operazioni .new-stampa {
	background: transparent url(../imgs/operation.png) no-repeat scroll left -120px;
}
#operazioni .see-premi {
	background: transparent url(../imgs/operation.png) no-repeat scroll left -90px;
}
#operazioni .see-freeplayer {
	background: transparent url(../imgs/operation.png) no-repeat scroll left -30px;
}
#operazioni .download {
	background: transparent url(../imgs/operation.png) no-repeat scroll left -60px;
}
#operazioni .imp-formazione {
	background: transparent url(../imgs/operation.png) no-repeat scroll left 0px;
}
#operazioni .see-transfert {
	background: transparent url(../imgs/operation.png) no-repeat scroll left -150px;
}
#operazioni .admin-area {
	background: transparent url(../imgs/operation.png) no-repeat scroll left -180px;
}
/*------------------------------------------------------------------------------*/
.eventoHome {
	width:230px
}
.eventoHome a{
	font-size:12px !important;
}
#home #confStampa {
	clear:both;
}
#eventi h3 {
	margin:0 0 5px;
}
#eventi span {
	font-size:10px;
	color:#ddd;
}
#home ul {
	list-style-type: none;
	margin:0;
}
#bestPlayer {
	clear:both;
	float:left;
}
#bestPlayer .column {
	width:170px;
	text-align:center;
}
#bestPlayer p {
	margin:0;
	text-align:left;
}
#dettaglioSquadra h3 {
	clear:both;
	margin:0;
}
#headerSquadra {
	float:left;
	width:100%;
	margin:0 0 10px;
}
#formupload .upload {
	height: 25px;
	width: auto;
}
#formupload .submit {
	margin: 8px 0 0 0;
}
#dettaglioSquadra th {
	border-bottom: 1px solid #ddd;
}
#mex {
	margin: 0;
}
#return {
	border: 0 none;
}
#freeplayeropt input.text {
	width: 30px;
	text-align: center;
}
#freeplayeropt label {
	width: 120px;
	text-align: left;
}
#freeplayeropt .field {
	width: 160px;
	margin: 8px auto;
	float: none;
}
#img-modulo {
	float: left;
	margin: 0 10px;
}
#conferenzeStampa .box {
	width: 445px;
	padding: 10px;
}
.box {
	width: 455px;
	padding: 10px;
}
.box .data {
	width: 194px;
}
.box .link {
	float:right;
	margin-right:0;
	margin-bottom:0;
}
.box .fancybox {
	display: block;
	line-height:0;
}
.logo {
	margin-right:10px;
}
.ult {
	border-top: 1px solid #CCC;
}
#rosa {
	float: left;
	empty-cells: show;
	width:100%;
}
#rosa td {
	vertical-align: middle;
}
.row:hover {
	background: url(../imgs/bg-row.png) repeat-x left -62px;
	color: #fff;
}
.row:hover a {
	color: #fff;
}
.row td {
	white-space: nowrap;
}
.nome , .cognome {
	width: 200px;
}
.ruolo , .punt, .club {
	width: 60px;
}
.check {
	width: 10px;
}
.radio {
	width: auto;
	border: none;
}
#dettaglioGiornata h4 {
	font-weight: normal;
	float: left;
	width: 33%;
	text-align: center;
	font-size: 1.5em;
}
.penalita h5 {
	margin: 5px 0;
	font-size:14px;
	color:#E6781A;
}
#dettaglioGiornata span {
	color: white;
	font-size: 16px;
}
#dettaglioGiornata caption {
	font-weight: bold;
	color: #00a2ff;
	font-size: 14px;
	background-color: transparent;
}
/*----------------conferenze stampa---------------*/
#conferenzeStampa .text {
	text-align: justify;
	line-height: 1.6;
}
#conferenzeStampa .abstract {
	font-style: italic;
	clear: both;
	text-align: center;
	margin: 0 0 10px;
}
#conferenzeStampa .title {
	clear: both;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 0;
}
#conferenzeStampa .edit {
	width:20px;
	height:20px;
	display:block;
	background: transparent url(../imgs/operation.png)no-repeat left -230px;
}

#conferenzeStampa .remove {
	width:20px;
	height:20px;
	display:block;
	background: transparent url(../imgs/operation.png)no-repeat left -210px;
}
#modificaConferenza .text {
	width: 200px;
	margin: 0 0 8px 0;
}
#modificaConferenza .formbox {
	width: 100%;
}
#modificaConferenza #emoticons {
	margin: 0 0 0 130px;
}
#emoticons .emoticon {
	margin: 0;
}
#modificaConferenza .emoticon:hover {
	cursor: pointer;
}
#modificaConferenza .disabled {
	width: 35px;
	margin: 6px;
	text-align: center;
}
#modificaConferenza label {
	width: 130px;
}
#cap {
	display: none;
}
/*--------trasferimenti-------------*/
#acquisti {
	width: 375px;
}
#acquisti label {
	width: 130px;
}
#acquisti select {
	margin-right: 0px;
}
/*-----------------------------forms--------------------------------*/
#titolari {
	width: 295px;
	float: left;
}
#panchinari {
	width: 220px;
	float: right;
}
#titolari h4 {
	margin: 8px 0 0 0;
}
.div-submit {
	text-align: center;
	margin: 10px;
}
.cap {
	width: 50px;
}
#classifica {
	min-width: 610px;
}
#classifica-container {
	margin:0 0 15px;
}
#classifica-container .legend {
	width:14px;
	height:14px;
	display:block;
	border:1px solid #fff;
	margin:1px 6px;
	float:left;
}
#classifica table {
	margin: 0;
	float: left;
}
#tab_classifica {
	width:590px;
	overflow: auto;
}
#classifica-container .squadra {
	vertical-align: middle;
	white-space:nowrap;
} 
#classifica-container .checker {
	float:left;
	margin:0;
}
#tab_classifica td, #tab_classifica th {
	text-align: center;
}
.tickLabel {
	color: #aaa;
}
.tableimg img {
	margin: 0px 3px -4px;
}
.tableimg {
	width: 20px;
}
#giocatoriLiberi .text {
	padding: 0 10px;
	width: 24px;
	float: left;
	text-align: center;
}
#giocatoriLiberi label {
	width: auto;
	float: left;
	padding: 8px 10px 0 0;
}
#giocatoriLiberi .submit {
	margin: 6px 0 0 8px;
}
#giocatoriLiberi .acq {
	width: auto;
}
#option, #choices, #option .formbox {
	clear: both;
	width: 100%;
}
#option .checkbox {
	clear: both;
	float: left;
	margin: 1px 8px 0 0;
}
#option label {
	width: 250px;
	margin: 0;
	text-align: left;
}
#selection {
	margin-bottom: 0;
}
#giocatori {
	width:370px;
}
#formazione #panch-0 {
	background:url(../imgs/panchina.png) no-repeat 0px 50%;
}
#formazione #panch-1 {
	background:url(../imgs/panchina.png) no-repeat -95px 50%;
}
#formazione #panch-2 {
	background:url(../imgs/panchina.png) no-repeat -190px 50%;
}
#formazione #panch-3 {
	background:url(../imgs/panchina.png) no-repeat -285px 50%;
}
#formazione #panch-4 {
	background:url(../imgs/panchina.png) no-repeat -380px 50%;
}
#formazione #panch-5 {
	background:url(../imgs/panchina.png) no-repeat -475px 50%;
}
#formazione #panch-6 {
	background:url(../imgs/panchina.png) no-repeat -570px 50%;
}
#formazione #cap-C {
	background:url(../imgs/panchina.png) no-repeat -665px 50%;
}
#formazione #cap-VC {
	background:url(../imgs/panchina.png) no-repeat -760px 50%;
}
#formazione #cap-VVC {
	background:url(../imgs/panchina.png) no-repeat -855px 50%;
}
#formazione .submit {
	float:left;
	margin:10px
}
#panchina {
	width:400px;
	display:block;
}
#panchina h3, #capitani h3 {
	margin:0;
}
#panchina .droppable, #capitani .droppable{
	width:100px;
	min-height:95px;
	padding:7px 0;
	display:block;
	float:left;
	text-align:center;
}
#panchina .draggable, #capitani .draggable{
	margin:auto;
	float:none;
	text-align:center;
}
.giocatore {
	width: 70px;
	color: #000;
	cursor: pointer;
	text-align:center;
	padding:5px;
	float:left;
	margin:3px 5px;
	height:83px;
	overflow:hidden;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.giocatore span{
	position:absolute;
	top:5px;
	left:5px;
}
.giocatore p{
	margin:0;
	font-weight:bold;
	line-height:14px;
}
#giocatori > div{
	border:0 none !important;
	background-color:transparent !important;
	clear:both;
}
.P {
	border: 1px solid #ff0000;
	background-color: #ffd1d1;
}
.D {
	border: 1px solid #009600;
	background-color: #d4ffd1;
}
.C {
	border: 1px solid #ffbd00;
	background-color: #fff3d1;
}
.A {
	border: 1px solid #00a0ff;
	background-color: #d0f1ff;
}
#campo {
	width: 554px;
	height:644px;
	background:transparent url(../imgs/campo.png) no-repeat -3px -3px;
	text-align: center;
}
#campo .droppable {
	height: 140px;
}
.droppable-hover {
	background-color: #fff3d1 !important;
	opacity:0.5;
	filter: alpha(opacity=50);
}
#feed em {
	color: #bbb;
	font-size: 10px;
	font-weight: normal;
}
#feed a {
	font-size: 14px;
	font-weight:bold;
}
#feed h4 {
	font-weight:bold;
}
#dettaglioGiocatore p {
	float:left;
	margin:0 0 0 5px;
	padding:0;
	width:315px;
}
#datiSquadra p {
	margin:0;
}
#datiSquadra {
	width:auto;
}
#nomeSquadra {
	margin:0;
}
.elencoSquadre li {
	width:230px;
	float:left;
}
.elencoSquadre ul {
	list-style-type: none;
}
#creaSquadra label {
	width: 120px;
}
#creaSquadra .div-submit {
	margin: 0 0 10px;
}
#gestioneDatabase textarea {
	width: 100%;
	height: 400px;
}
.newsletterBox {
	width: 250px;
	margin: 0;
}
#newsletter textarea {
	width: 430px;
}
#newsletter .formbox {
	width: 100%;
}
#newsletter .selectAll {
	clear: both;
	margin: 0 0 0 100px;
	width: 200px;
}
#newsletter .text {
	width: 200px;
}
#newsletter .disabled {
	width: 35px;
	margin: 6px;
	text-align: center;
}
#tabGiocatore {
	width: 840px;
	height: 208px;
	overflow: auto;
}
#tabGiocatore table {
	empty-cells: show;
}
#tabGiocatore td, #tabGiocatore th {
	width: 40px;
}
#eventi a {
	font-weight:normal;
	font-size:14px;
}
#penalita label {
	width: 150px;
}
#dettaglioGiocatore p {
	margin-bottom:2px;
}
#creaSquadra .text {
	width:160px;
}
#lanciaScript ul {
	list-style-type:none;
}
#lanciaScript li {
	line-height:68px;
	height:68px;
	margin: 3px 0;
	float:left;
	clear:both;
}
#lanciaScript a {
	display:inline-block;
}
#lanciaScript h3 {
	margin:20px 0 0 10px;
}
#giornate input {
	width:120px;
}
#impostazioni label {
	width:220px;
}
#countdown {
	width:230px;
	font-size:13px;
	text-align:center;
	margin:0 0 10px;
}
#countdown .number {
	font-size: 26px;
	font-weight:bold;
}
#cardPlayer {
	margin: 0 0 10px 0;
}
#cardPlayer .uploadleft {
	margin:5px 0 0;
	clear:both;
}
#cardPlayer label{
	width:60px;
}
#cardPlayer #formData{
	margin:0 0 10px;
}
#cardPlayer p {
	font-size:11px;
	margin:0 0 0 8px;
	padding:0;
	float:none;
	width:auto;
}
#cardPlayer h5 {
	color: #fff;
}
img.shield {
	display:block;
	float:right;
	clear:both;
}
#datiGioc {
	width:230px;
	text-align:left;
}
/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px;-moz-border-radius:10px;background-color:#fff;border:5px solid #BBB;color:#000000; }
.ui-dialog-titlebar { -moz-border-radius:5px; background-color:#EEEEEE; float:left; padding:0.5em 0.3em 0.3em 1em; position:relative; width:284px;  }
.ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog-titlebar-close span { display: block; margin: 1px; float:right; }
.ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; }
.ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }