body {
	padding:30px 0 0;
	min-width:1000px;
}
header{
	background: url(../imgs/slideshow.jpg);
	width:96%;
	padding:5px 2%;
}
header,section#content,footer {
	float:left;
	clear:both;
}
section#content {
	padding:10px 0;
}
#countdown {
	float:right;
	font-size:16px;
	font-family: Slackey, cursive;
	text-align:right;
	padding:8px 0;
}
#countdown div {
	float:right;
	font-size:24px;
	font-family: Slackey, cursive;
}
nav {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	color:#ddd;
	background:#333;
	height:30px;
	padding:0 15px;
	z-index:5;
}
nav ul {
	list-style-type:none;
	float:left;
	padding:0;
	margin:0;
}
nav li {
	float:left;
}
nav li.selected {
	font-weight:bold;
	color:#fff;
}
nav li.selected a {
	border-top:3px solid #fff;
	padding:4px 12px 7px;
}
nav li a {
	padding:7px 12px;
	float:left;
}
footer {
	clear:both;
	float:left;
	width:100%;
	height:60px;
}
#messaggioContainer {
	position:fixed;
	top:30px;
	text-align:center;
	right:37%;
	left:37%;
}
#messaggioContainer .messaggio {
    border-radius:0 0 5px 5px;
    border-top:0;
    box-shadow:0 0 4px #aaa;
}
