#squadre {
    text-align:center;
}
@media (max-width: 768px) {
    #squadre .span3 img {
        float:left;
    }
}
@media (max-width: 480px) {
    #squadre .span3 img {
        float:none;
    }
}