#formazione fieldset>div {
	position:relative;
}
#formazione .submit {
	float:left;
	margin:10px
}
#formazione #panchina {
	width:100%;
	display:block;
	float:left;
}
#formazione #stadio {
	width:100%;
	display:block;
	float:left;
	margin:0 10px 0 0;
	position:relative;
}
#formazione #panchina h3, #capitani h3 {
	margin:0;
}
#formazione .droppable-hover2 {
	background:url(../imgs/sostituisci.gif) no-repeat 50% 5px;
}
#formazione .droppable-hover2 img {
	display:none;
}
#formazione #panchina .droppable,#formazione  #capitani .droppable{
	width:100px;
	min-height:102px;
	padding:7px 0;
	display:block;
	float:left;
	text-align:center;
}
#formazione #panchina .draggable,#formazione  #capitani .draggable{
	margin:auto;
	float:none;
	text-align:center;
	position:relative;
	top:0 !important;
	left:0 !important;
}
#formazione .giocatore {
	width: 80px;
	color: #000;
	cursor: pointer;
	text-align:center;
	float:left;
	margin:3px 5px;
	height:113px;
	overflow:hidden;
	position:relative;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#formazione .giocatore img{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
#formazione .giocatore p{
	background-color: #FFFFFF;
	bottom: 0;
	color: #333333;
	font-weight: bold;
	line-height: 14px;
	margin: 0;
	opacity: 0.8;
	padding: 2px;
	position: absolute;
	width: 100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
}
#formazione #giocatori {
	width:370px;
	float:left;
}
#formazione #giocatori .giocatore {
	top:auto !important;
	left:auto !important;
}
#formazione #giocatori > div{
	border:0 none !important;
	background-color:transparent !important;
	clear:both;
}
#formazione .P {
	border: 1px solid #ff0000;
	background-color: #ffd1d1;
}
#formazione .D {
	border: 1px solid #009600;
	background-color: #d4ffd1;
}
#formazione .C {
	border: 1px solid #ffbd00;
	background-color: #fff3d1;
}
#formazione .A {
	border: 1px solid #00a0ff;
	background-color: #d0f1ff;
}
#formazione #capitani {
	float:left;
	width:390px;
}
#formazione #campo {
	width:554px;
	height:644px;
	background:transparent url(../imgs/campo.png) no-repeat 0 0;
	text-align: center;
	float:left;
	margin:0 15px 0 0;
}
#formazione #campo .giocatore {
	position:absolute;
	margin:0;
}
#formazione #campo .droppable {
	height: 25%;
}
#formazione .droppable-hover {
	background-color: #A0E1FF !important;
	opacity:0.5;
	filter: alpha(opacity=50);
}
#formazione #panch-0 {
	background: url("../imgs/panchina-black.png") no-repeat scroll 0px 50% transparent
}
#formazione #panch-1 {
	background: url("../imgs/panchina-black.png") no-repeat scroll -95px 50% transparent
}
#formazione #panch-2 {
	background: url("../imgs/panchina-black.png") no-repeat scroll -190px 50% transparent
}
#formazione #panch-3 {
	background: url("../imgs/panchina-black.png") no-repeat scroll -285px 50% transparent
}
#formazione #panch-4 {
	background: url("../imgs/panchina-black.png") no-repeat scroll -380px 50% transparent
}
#formazione #panch-5 {
	background: url("../imgs/panchina-black.png") no-repeat scroll -475px 50% transparent
}
#formazione #panch-6 {
	background: url("../imgs/panchina-black.png") no-repeat scroll -570px 50% transparent
}
#formazione #panch-6 {
	background: url("../imgs/panchina-black.png") no-repeat scroll -570px 50% transparent
}
#formazione #cap-C {
	background: url("../imgs/panchina-black.png") no-repeat scroll -665px 50% transparent
}
#formazione #cap-VC {
	background: url("../imgs/panchina-black.png") no-repeat scroll -760px 50% transparent
}
#formazione #cap-VVC {
	background: url("../imgs/panchina-black.png") no-repeat scroll -855px 50% transparent
}