#home #best-player {
    text-align:center;
    padding:0 0 25px;
}
#home .foto {
    float:none;
    margin-bottom:8px;
}
#home h3,#home h4 {
    margin-bottom:6px;
}
#home h4 {
    text-align:center;
}
#home .all {
    width:100%;
    text-align: right;
}
#home .foto-container {
    height:200px;
    display:block;
    vertical-align:middle;
    line-height:200px
}