.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  text-align: left;
  display: block;
  -webkit-text-size-adjust: none;
  font-size: 13px;
}
fieldset {
  border: 0 none;
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h1 a {
  font-weight: normal !important;
  font-size: 22px;
}
h2 a {
  font-weight: normal !important;
  font-size: 20px;
}
h3 a {
  font-weight: normal !important;
  font-size: 18px;
}
h4 a {
  font-weight: normal !important;
  font-size: 16px;
}
p {
  font-size: 12px;
}
em {
  background-color: transparent;
}
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.formbox {
  clear: both;
  float: left;
  padding: 6px 0;
}
.formbox label {
  width: 150px;
}
label {
  font-weight: bold;
  cursor: pointer;
}
.hidden {
  display: none;
}
input.small {
  width: 20px;
}
.column {
  float: left;
}
form {
  margin: 0;
}
.right {
  float: right;
}
.foto {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-box-shadow: 0 0 8px #aaaaaa;
  -moz-box-shadow: 0 0 8px #aaaaaa;
  box-shadow: 0 0 8px #aaaaaa;
  float: left;
  margin-right: 10px;
}
table .headerSortUp,
table .headerSortDown {
  background-color: rgba(141,192,219,0.25);
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
table .headerSortDown:after,
table .headerSortDown:hover:after {
  visibility: visible;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
