<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
    RewriteCond    %{HTTP:Authorization} ^(.*)
    RewriteRule    .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0