FileETag None
AddType image/x-icon .ico
<IfModule mod_headers.c>
	Header unset ETag
	Header unset Cookie
	Header unset Vary
	Header always unset Set-Cookie 
	<FilesMatch "\\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
		Header set Cache-Control "public, max-age=31536000"
	</FilesMatch>
	<FilesMatch "\\.(css)$">
		Header set Cache-Control "private, max-age=31536000"
	</FilesMatch>
	<FilesMatch "\\.(js)$">
		Header set Cache-Control "private, max-age=31536000"
	</FilesMatch>
	<FilesMatch "\\.(xml|txt)$">
		Header set Cache-Control "public, max-age=216000, must-revalidate"
	</FilesMatch>
	<FilesMatch "\\.(html|htm|php)$">
		Header set Cache-Control "private, max-age=1, must-revalidate"
	</FilesMatch>
</IfModule>

<IfModule mod_expires.c>  
	ExpiresActive On  
	ExpiresDefault "access plus 1 seconds"  
	ExpiresByType text/html "access plus 1 seconds"  
	ExpiresByType image/gif "access plus 1 years"  
	ExpiresByType image/jpeg "access plus 1 years"  
	ExpiresByType image/png "access plus 1 years"  
	ExpiresByType image/ico "access plus 1 years"
	ExpiresByType text/css "access plus 1 years"  
	ExpiresByType text/javascript "access plus 1 years"  
	ExpiresByType application/x-javascript "access plus 1 years"  
</IfModule>

ErrorDocument 400 /error_docs/bad_request.html
ErrorDocument 401 /error_docs/unauthorized.html
ErrorDocument 403 /error_docs/forbidden.html
ErrorDocument 404 /error_docs/not_found.html
ErrorDocument 405 /error_docs/method_not_allowed.html
ErrorDocument 406 /error_docs/not_acceptable.html
ErrorDocument 407 /error_docs/proxy_authentication_required.html
ErrorDocument 412 /error_docs/precondition_failed.html
ErrorDocument 414 /error_docs/request-uri_too_long.html
ErrorDocument 415 /error_docs/unsopported_media_type.html
ErrorDocument 500 /error_docs/internal_server_error.html
ErrorDocument 501 /error_docs/not_implemented.html
ErrorDocument 502 /error_docs/bad_gateway.html

<IfModule mod_deflate.c>
	<FilesMatch "\.(html?|txt|css|js|php|pl|jpg|png|gif|ico)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On
	# if requested subdomain is not "www" 
rewriteCond %{HTTP_HOST} !^(www\.)?example\.com [NC] 
# and we have not already rewritten this request to the subdomain's subfolder  
# extract requested subdomain to %2 
rewriteCond %{HTTP_HOST} ^(www\.)?([^.]+)\.example\.com 
# rewrite the request to the subdomain's subfolder 
rewriteRule (.*) /%2/$1 [L] 
	RewriteRule ^home.html$ index.php?p=home
	RewriteRule ^home/(.*).html$ index.php?p=home&logout=TRUE
	RewriteRule ^squadre.html$ index.php?p=squadre
	RewriteRule ^dettaglioSquadra/(.*).html$ index.php?p=dettaglioSquadra&squadra=$1
	RewriteRule ^dettaglioGiocatore.html$ index.php?p=dettaglioGiocatore
	RewriteRule ^dettaglioGiocatore/(.*)/(.*).html$ index.php?p=dettaglioGiocatore&edit=$1&id=$2
	RewriteRule ^trasferimenti.html$ index.php?p=trasferimenti
	RewriteRule ^trasferimenti/(.*).html$ index.php?p=trasferimenti&squad=$1
	RewriteRule ^giocatoriLiberi.html$ index.php?p=giocatoriLiberi
	RewriteRule ^conferenzeStampa.html$ index.php?p=conferenzeStampa
	RewriteRule ^conferenzeStampa/(.*).html$ index.php?p=conferenzeStampa&giornata=$1
	RewriteRule ^classifica.html$ index.php?p=classifica
	RewriteRule ^dettaglioGiornata.html$ index.php?p=dettaglioGiornata
	RewriteRule ^dettaglioGiornata/(.*)/(.*).html$ index.php?p=dettaglioGiornata&giornata=$1&squadra=$2
	RewriteRule ^premi.html$ index.php?p=premi
	RewriteRule ^contatti.html$ index.php?p=contatti
	RewriteRule ^formazione.html$ index.php?p=formazione
	RewriteRule ^altreFormazioni.html$ index.php?p=altreFormazioni
	RewriteRule ^altreFormazioni/(.*)/(.*).html$ index.php?p=altreFormazioni&giornata=$1&squadra=$2
	RewriteRule ^modificaConferenza/(.*)/(.*).html$ index.php?p=modificaConferenza&a=$1&id=$2
	RewriteRule ^altro.html$ index.php?p=altro
	RewriteRule ^feed.html$ index.php?p=feed
	RewriteRule ^giocatoriLiberi/(.*)/(.*)/(.*)/(.*)/(.*).html$ index.php?p=giocatoriLiberi&order=$1&v=$2&ruolo=$3&suff=$4&partite=$5
	RewriteRule ^areaAmministrativa.html$ index.php?p=areaAmministrativa
	RewriteRule ^creaSquadra.html$ index.php?p=creaSquadra
	RewriteRule ^creaSquadra/(.*)/(.*)/(.*).html$ index.php?p=creaSquadra&a=$1&id=$2&lega=$3
	RewriteRule ^inserisciFormazione.html$ index.php?p=inserisciFormazione
	RewriteRule ^newsletter.html$ index.php?p=newsletter
	RewriteRule ^nuovoTrasferimento.html$ index.php?p=nuovoTrasferimento
	RewriteRule ^penalita.html$ index.php?p=penalita
	RewriteRule ^lanciaScript.html$ index.php?p=lanciaScript
	RewriteRule ^gestioneDatabase/(.*).html$ index.php?p=gestioneDatabase&action=$1
	RewriteRule ^sendMail.html$ index.php?p=sendMail
	RewriteRule ^weeklyScript.html$ index.php?p=weeklyScript
	RewriteRule ^acquistaGioc.html$ index.php?p=acquistaGioc
	RewriteRule ^backup.html$ index.php?p=backup
	RewriteRule ^modificaGiocatore.html$ index.php?p=modificaGiocatore
	RewriteRule ^download.html$ index.php?p=download
	RewriteRule ^impostazioni.html$ index.php?p=impostazioni
</IfModule>
<FilesMatch sendMail.html|weeklyScript.html|acquistaGioc.html|backup.html>
	AuthName "Inserisci username e password"
	AuthType Basic
	AuthUserFile htpasswd/fantamanajer/.htpasswd
	require valid-user
</FilesMatch>

