parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src

    bootstrapFiles:
        - config/bootstrap.php

    excludePaths:
        - src/Stream/*

    ignoreErrors:
        -
            identifier: missingType.generics
        - '#Access to an undefined property object::\$entity#'
        - '#Access to an undefined property object::\$query#'
        - '#Access to an undefined property object::\$entities#'
        - '#Access to an undefined property object::\$success#'