parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/bootstrap.php

    excludes_analyse:
        - src/Console/Installer.php

    ignoreErrors:
        - '#Access to an undefined property object::\$entity#'
        - '#Access to an undefined property object::\$query#'
        - '#Access to an undefined property object::\$entities#'
        - '#Access to an undefined property object::\$success#'

