@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "variables.less";

a {
  .transition(all 0.15s linear 0s);
  cursor: pointer;
}
a:hover {
    text-decoration: none;
}
.center {
  text-align:center;
}
label {
  cursor:pointer;
}
input.small {
  width:45px;
  text-align: center;
}
img {
    .box-sizing(content-box)
}
.foto {
  .rotate(-2deg);
}
.foto.pull-left,.logo.pull-left {
  margin-right:20px;
}
.no-wrap,.nowrap {
    white-space:nowrap;
}
.ammonizione,.espulsione {
    width:10px;
    height:15px;
    display: block;
    .box-shadow(1px 1px 2px #AAAAAA);
}
.ammonizione {
    background-color: yellow;
}
.espulsione {
    background-color: red;
}
#grafico {
    margin: 0 auto;
    width:724px;
    clear:both;
    overflow:hidden;
    #overview {
        float:left;
        cursor:pointer;
        margin-right:12px;
    }
    #placeholder {
        width:100%;
    }
    #clear-selection {
        display:none;
    }
}
table {
  .headerSortUp, .headerSortDown {
    background-color:rgba(141,192,219,0.25);
    text-shadow:0 1px 1px rgba(255,255,255,0.75);
  }
  .headerSortDown:after, .headerSortDown:hover:after {
    visibility:visible;
	.opacity(60);
  }
  .header {
    cursor:pointer;
  }
  .header:after {
    content:"";
    float:right;
    margin-top:7px;
    border-width:0 4px 4px;
    border-style:solid;
    border-color:#000000 transparent;
    visibility:hidden;
  }
  .header:hover:after {
    visibility:visible;
  }
  .headerSortUp:after {
    border-bottom:none;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #000000;
    visibility:visible;
    .box-shadow(none);
    .opacity(60);
  }
}

@screen-xxs-max:              (@screen-xs - 1);
// Visibility utilities

.visible-xxs {
  .responsive-invisibility();
  @media (max-width: @screen-xxs-max) {
    .responsive-visibility();
  }
}
.hidden-xxs {
  .responsive-visibility();
  @media (max-width: @screen-xxs-max) {
    .responsive-invisibility();
  }
}