#probabili_formazioni {
    .formazione {
        ul.right, ul.destra {
            text-align:right;
        }
        .singleModule {
            width:25%;
        }
        .matchDateTime {
            width:50%;
        }
        .middle {
            height:1px;
            background-color:#ccc;
            width:100%;
            margin:3px;
        }
        .container-altro {
            margin-top:10px;
            li span {
                font-weight:bold;
                display:block;
            }
        }
    }
}