#squadra_show {
    #header-squadra {
        margin-bottom:20px;
    }
    #dropzone {
        float: left;
        font-weight: bold;
        height: auto;
        line-height: 100px;
        margin-right: 20px;
        @include transition(all 0.3s ease-out);
        max-width: 100%;
        text-align: center;
        a {
            margin-right: 0;
        }
        .well {
            height: 226px;
            min-width: 339px;
            margin:0;
        }
        &.hover {
            @include opacity(0.7);
        }
    }
}