#container {
    min-height: 100%;
    padding-bottom: 145px;
}
.page {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}
#content .inner-page {
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
}