footer {
	text-align: center;
	border-top: 1px solid #E5E5E5;
	background-color: #F5F5F5;
	padding: 40px 0;
	position: relative;
	margin-top: -145px;
	@media (min-width: $screen-sm-min) {
		text-align: left;
		.pull-right {
            text-align: right;
        }
	}
	ul {
		margin-bottom: 15px;
		@media (min-width: $screen-sm-min) {
			margin-bottom: 0;
		}
	}
	p {
		margin: 0;
		@media (min-width: $screen-sm-min) {
			margin: 15px 0 0;
		}
	}
}