#topbar nav {
    #login {
        form {
            margin: 0;
            padding: 10px 20px;
        }
        label {
            color: #666666;
        }
		
    }
    #lega-view {
        width: 160px;
        margin: 8px 8px 0;
        display: inline;
		
    }

	
}
.mdl-layout__drawer header {
    background: url('../../images/bg-material.png') repeat-x center top;
    background-size: cover;
    height: 148px;
    padding:16px;
    box-sizing: border-box;
}