#header {
	background: url('#{$imgs-path}erba2.jpg') repeat-x center top;
	border-bottom: 1px solid #555;
	height: 120px;
	> div {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZmNmY2ZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(111, 111, 111, 0.1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(111, 111, 111, 0.1)));
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(111, 111, 111, 0.1) 100%);
		background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(111, 111, 111, 0.1) 100%);
		background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(111, 111, 111, 0.1) 100%);
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(111, 111, 111, 0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#1a6f6f6f',GradientType=0);
		height: 100%;
	}
	h1 {
		color: #ffffff;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -1.5px;
		margin-top: 25px;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
		font-weight: normal;
	}
	#countdown {
		font-family: "Score Board";
		float: right;
		font-size: 16px;
		text-align: right;
		padding: 8px 0;
		color: #ffffff;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
		div {
			float: right;
			font-size: 40px;
			line-height: 40px;
		}
		.number {
			width: 48px;
			display: inline-block;
		}
	}
}
